<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    
    <h1><a href="/logins">로그인</a></h1>
    <br />
    <h1>회원가입</h1>
    <a href="/sign-up">Sign Up</a>
  </body>
</html>
