<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="../public/login.css">
</head>

<body>
  <%- include('nav.ejs')%>
    <div class="login-container">
      <form action="/login" method="POST" class="login-form">
        <h2>Login</h2>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
    <div class="login_box">
      <h1>구글 로그인</h1>
      <a href="/google-login">구글 로그인</a>
      <h1>카카오 로그인</h1>
      <a href="/kakao">카카오 로그인</a>
      <h1>깃헙 로그인</h1>
      <a href="/github-login">깃헙 로그인</a>
      <h1>깃헙 로그인</h1>
      <a href="/github-login">깃헙 로그인</a>
    </div>

</body>

</html>