<!-- views/logout.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<body>
    <h1>로그아웃 페이지</h1>
    
    <!-- 로그아웃 버튼 -->
    <form action="/logout" method="post">
        <button type="submit">로그아웃</button>
    </form>

    <!-- 기타 내용 등을 추가할 수 있습니다. -->
</body>
</html>
